.section-featured {
  padding: 2rem 0 2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
}

.logos img {
  height: 2.4rem;
  /* filter: grayscale(100%); */
  filter: brightness(0);
  opacity: 50%;
}

@media (max-width: 82em) {
  .logos img {
    height: 2.2rem;
  }
}
@media (max-width: 69em) {
  .logos img {
    height: 1.8rem;
  }
}
@media (max-width: 64em) {
  .logos img {
    height: 1.5rem;
  }
}
@media (max-width: 54em) {
  .logos img {
    height: 1.2rem;
  }
}
@media (max-width: 44em) {
  .logos img {
    height: 1rem;
  }
}
@media (max-width: 34em) {
  .logos img {
    height: 0.8rem;
  }
}
@media (max-width: 32em) {
  .logos img {
    height: 0.7rem;
  }
}
@media (max-width: 27em) {
  .logos img {
    height: 0.6rem;
  }
}
