.book-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin: 2rem;
  border-radius: 9px;
}

.book-img-wrapper {
}

.book-img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.book-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  /* padding: 0.2rem; */
}
.book-title-card {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: #343a3dff;
  color: #777;
  letter-spacing: 1px;
}
.book-price {
  font-size: 0.9rem;
  font-weight: 500;
  color: #777;
}

.buy-book-btn {
  color: #000000ff;
}

/* MEDIA QUAERIES */

@media (max-width: 64em) {
  /* 1024px */

  .book-title-card {
    font-size: 0.7rem;
  }
}

@media (max-width: 56.5em) {
  /* 904x */

  .buy-book-btn {
    padding: 0.5rem 1rem !important;
  }

  .book-title-card {
    font-size: 0.6rem;
  }
}

@media (max-width: 51.25em) {
  .book-title-card {
    font-size: 0.8rem;
  }
}

@media (max-width: 50em) {
  .book-title-card {
    font-size: 1rem;
  }
}

@media (max-width: 45em) {
  .book-title-card {
    font-size: 0.7rem;
  }
}

@media (max-width: 34em) {
  /* 512px */

  .book-img-wrapper {
  }

  .book-title-card {
    font-size: 1.2rem;
  }

  .book-card {
    width: fit-content;
  }

  .buy-book-btn {
    width: 20rem;
  }

  .card-link--book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
}

@media (max-width: 30em) {
  /* 480px */

  .buy-book-btn {
    width: 15rem;
  }
}

@media (max-width: 25em) {
  /* 390px */
  .book-card {
    width: fit-content;
  }
  .buy-book-btn {
    width: 15rem;
  }
}
