.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  /* height: 100vh; */
}
.signup-title {
  text-align: center;
  margin: 2rem 0;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  /* padding: 2rem; */
  row-gap: 2rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.signup-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2rem;
  border-right: 1px solid #444;
  padding: 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.input-div label {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.5;
}
.input-form {
  height: 2.5rem;
}

.signup-social-media {
  padding: 2rem;
}

.signup-buttons {
  display: flex;
  flex-direction: column;
}

.btn-sign-up {
  width: 100% !important;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
}

.btn-sign-up:hover {
  background-color: #000000ff;
  color: #efefefff;
}

.btn-sign-up--google {
  background-color: #ff6b6b;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  color: #000000ff;
}
.btn-sign-up--facebook {
  background-color: #339af0;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  color: #000000ff;
}

/* MEDIA QUAERIES */

@media (max-width: 50em) {
  .signup-form-container {
    grid-template-columns: 1fr;
  }
}
