/* MAIN COLOR

#abcb71


Second colors

--onyx: #343A3Dff;
--cultured: #EFEFEFff;
--ebony: #565C57ff;
--beige: #EAEACBff;
--black: #000000ff;

 */

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #777;
  line-height: 1;
}

input:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(234, 234, 203, 0.465);
}

input[type="text"] {
  padding-left: 3rem;
}
input[type="email"] {
  padding-left: 3rem;
}
input[type="password"] {
  padding-left: 3rem;
}

input::placeholder {
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.5;
  color: #777;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

/* input[type="text"]:focus {
  text-align: center;
} */

.sticky-header {
  position: sticky;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.input {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

.custom-btn {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* text-decoration: none; */
  padding: 0.5rem 2rem;
  background-color: #abcb71;
  border-radius: 20rem;
  width: 10rem;
}

.buy-book-btn {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* text-decoration: none; */
  padding: 0.5rem 2rem;
  background-color: #abcb71;
  border-radius: 20rem;
  width: 100%;
}

.buy-book-btn:hover {
  background-color: #000000ff;
  color: #f1f3f5;
  cursor: pointer;
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
  cursor: pointer;
}

.card-link:hover,
.card-link:active {
}

/* /////////////////// */

/* MEDIA QUAERIES */

@media (max-width: 50em) {
  /* 800px */

  .grid {
    grid-template-columns: 1fr;
  }
}
